@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');



* { margin:0; padding:0; box-sizing:border-box; }

/*
color palette
black= #323232;
mid-grey= #787878;
light-grey= efefef;
red= rgb(255, 15, 0);
*/


body {
    background: #ffffff;
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 16px;
    color: #323232;
    text-align: center;
    letter-spacing: 1px;
    line-height: 1.4em;
}

section {
    padding: 4em 0;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 4.5em;
    font-size: calc(3.5vw + 3.5vh);
    line-height: calc(3.5vw + 3.5vh);
    letter-spacing: 2px;

}

h2 {
    font-weight: 700;
    font-size: 1.5em;
    margin: 0.5em auto;
    text-transform: uppercase;
}

p {
    font-weight: 400;
    display: inline-block;
    max-width: 44em;
}   

hr{
    border: none;
    height: 2px;
    background-color: rgb(255, 15, 0);
    width: 2em;
    margin: 1em auto;
}

a{
    text-decoration: none;
}

a:hover {
    color: #323232;
}

a:active {
    color: #787878;
}

li {
    display: inline;
    font-size: 0.8em;
    text-transform: uppercase;
    background: #efefef;
    border-radius: 3px;
    width: max-content;
    padding: 0.25em 1em;
    line-height: 2.5em;

}

header {
    background: #fff;
    position: fixed;
    top: 0px;
    width: 100%;
    min-height: 4.5em;
}

#logo {
    float: left;
    margin: 0 2em;
    max-height: 4em;
}

nav {
    float: right;
    font-weight: 500;
    font-size: 0.8em;
    font-weight: bold;
    text-transform: uppercase;
    margin: 1.5em;
}

nav a {
    color: rgb(255, 15, 0);
    padding-right: 1em;
    padding-left: 1em;
}


#cover {
    margin-top: 4.5em;
    background: url(../images/cover_1920x500.jpg) no-repeat center center scroll;
    background-size: cover;
    height: 80vh;
    padding: 2em 1em;
}
}

#cover_text_container {
}

.cover_headline {
    color: #FFFFFF;
    display: inline-block;
    max-width: 12em;
    margin: 0.8em auto 0.4em auto;
}

.cover_subhead {
    color: #FFFFFF;
    text-transform: capitalize;
} 

.cover_body {
    color: #FFFFFF;
    margin: 1em 0;
}

.cover_button {
    display: block;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    background: rgb(255, 15, 0);
    padding: 0.25em 1.5em;
    border-radius: 3px;
    width: max-content;
    margin: auto;

}

#skills {
    background: #efefef;
}

.skill_icon{
    width: 3em;
    height: 3em;
    padding: 0 4px;
}

#projects {
    background: #fff;
}

.projects_images{
    margin: 2em;

}

.projcts_preview {
    width: 100%;
    max-width: 400px;
}

#client {
    background: #888888;
    max-width: 100%;
    max-height: 100%;
    padding: 0;
}

#client img {
  max-width:100%; 
  max-height:100%;
  margin:auto;
  display:block;
}
footer {
    background: #323232;
    position: absolute;
    width: 100%;
    padding-top: 1.5em;
    padding-bottom: 0.5em;
}

.footer_icon {
    width: 2em;
    height: 2em;

}

.copyright {
    font-size: 10px;
    color: #787878;

}

