@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i');


* { margin: 0; padding: 0; box-sizing: border-box; }


/*--COLOR PALETTE-------------------------------------------------------------------------------------------------*/


/*
white= #ffffff;
bg-grey= #f8f8f8;
light-grey= #dfdfdf;
light-grey= #c6c6c6;
mid-grey= #949494;
dark-grey= #636363;
black= #313131;

red= rgb(255, 15, 0);
*/


/*--ASSET---------------------------------------------------------------------------------------------------------*/

body {
    background-color: #f8f8f8;
    height: 100%;
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 16px;
    color: #313131;
    line-height: 1.4em;
    text-decoration: none;
}

img {
    width: 100%;
    display: block;
}

h1, h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}

h1 {
    text-transform: none;
    font-size: 3.5em;
    line-height: 0.95em;
    padding-bottom: 0.5em;
/*    font-size: calc(3vw + 3vh);
    line-height: calc(3vw + 3vh);
    white-space: pre-line; */
}

h2 {
    font-size: 1.5em;
    padding: 0 0 .5em;
}

h3 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: .8em
}

strong {
    font-weight: 700;
}

hr {
    background-color: #949494;
    border: none;
    height: 1px;
    margin: 0 auto;
    width: 100%;
}

hr + p {
    margin-bottom: 1em;
}

nav {
    padding: .25em 0;
}

nav a {
    color: #dfdfdf;
    font-size: .8em;
    font-weight: 700;
    margin-right: 2em;
    text-transform: uppercase;
    text-decoration: none;
    padding: .5em 0;
}

label {
    color: #dfdfdf;
    font-size: .8em;
    font-weight: 700;
    margin-right: 3%;
    text-transform: uppercase;
    text-decoration: none;
    padding: .5em 0;  
    display: none;
}

nav a:hover, nav a:active {
    color: #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
    padding: .125em 0;
}

a:active {
    color: #313131;
}

a, ul, li {
    text-decoration: none;
}

ul li{
    font-size: .8em;
}

li a {
    color: #313131;
    font-weight: 400;
    text-transform: none;
}

.text_align_right {
    text-align: right;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    clear: both;
    content: " ";
    font-size: 0;
    height: 0;
}


/*--WRAPPER-------------------------------------------------------------------------------------------------------*/


.contents_wrapper {
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
}

.col_full {
    width: 100%;

}

.col_half {
    width: 50%;
    float: left;
    display: block;
}

.col_quarter {
    width: 25%;
    float: left;
    display: block;
}

.col_inner {
    position: relative;
    margin: 0 .5em;
}

.col_inner_grid {
    position: relative;
    margin: .5em;
}


/*--HEADER-------------------------------------------------------------------------------------------------------*/


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4em;
    z-index: 999;
    background-color: #313131;
}

.header_wrapper {
    width: 80%;
    max-width: 1080px;
    height: 4em;
    margin: 0 auto;
    padding: .5em 0;
}

.header_col_half {
    width: 50%;
    float: left;
    display: block;
}

#logo {
    width: 10em;
    float: left;
}

#nav_top {
    padding: 8.4px 0;
}

#mobile_nav {
    display: none;
}

#toggle {
    height: 1em;
    display: none;
}

/*--MAIN-------------------------------------------------------------------------------------------------------*/


main {
    overflow: auto;
    width: 100%;
    margin: 4em auto 0.75em;
}

#about, #projects, #clients {
    padding: 5em 0;
}

#gallery, #projects_page {
    margin: 1em auto;
}

.gallery_wrapper {
    display:none
    width: 100%;
}

.gallery_image {
    height: calc(25vw + 30vh); 
}

.slide_1 {
    background: url(../images/projects/GolfBuddy_2015-2016-Seasonal-Promotion_Flyers_1_new.jpg) no-repeat center center scroll;
    background-size: cover;
}

.slide_2 {
    background: url(../images/projects/GolfBuddy_2015-2016-Seasonal-Promotion_Flyers_2_new.jpg) no-repeat center center scroll;
    background-size: cover;
}

.slide_3 {
    background: url(../images/projects/GolfBuddy_2015-2016-Seasonal-Promotion_Flyers_3_new.jpg) no-repeat center center scroll;
    background-size: cover;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 0.6s;
    animation-name: fade;
    animation-duration: 0.6s;
}

@-webkit-keyframes fade {
    from {opacity: .7} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .7} 
    to {opacity: 1}
}

.pagination_wrapper {
    padding: .5em 0 4.5em;
}

.pagination_dot {
    float: left;
    display: block;
    cursor: pointer;
    outline: none;
    background: transparent;
    border: 1px solid #313131;
    border-radius: 50%;
    width: .75em;
    height: .75em;
    margin-right: .25em;
    transition: background 0.3s;
}

.pagination_dot:hover {
    background-color: #636363!important
}

.pagination_dot_selected {
    background-color: #313131!important
}

.skills_wrapper hr {
    display: none;
}

.skills_icon {
    display: inline;
    width: 2.5em;
    height: 2.5em;
    margin: .25em .25em 0 0;
}

.hr_inner {
    width: 100%;
    margin: 1.5em auto;
}

.projects_cover_image {
    width: 100%;
}

.projects_cover_overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(49, 49, 49, 0.8);
    opacity: 0;
}

.projects_cover_overlay:hover {
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

.projects_overlay_text {
    position: absolute;
    color: #f8f8f8;
    text-align: center;
    border-bottom: 1px solid #f8f8f8;
    width: max-content;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.projects_image {
    margin: 0 0 0.25em 0;
}

.project_nav_button {
    background: transparent;
    border: 1px solid #313131;
    float: right;
    padding: .4em .8em;
    margin: 0 0 0 4px;
}

.project_nav_button:hover {
    background-color: #dfdfdf;
}

.clients_logo {
    display: block;
    float: left;
    margin: 0.25em 0;
    padding: 0;
    width: 25%;
    min-width: 4.25em;
}

.clients_logo:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

footer {
    position: relative;
    clear: both;
    background-color: #313131;
    width: 100%;
    color: #dfdfdf;
}

#contact {
    padding: 3em 0;    
}

.contact_icon_wrapper {
    position: absolute;
    bottom: 0;
    margin-bottom: 3.25em;
}

.contact_icon {
    display: inline;
    width: 1.875em;
    height: 1.875em;
}

.copyright {
    display: block;
    font-size: 10px;
    color: #949494;
}

form {
    color: #dfdfdf;
    box-sizing : border-box;
    margin-bottom: .5em;
}

input, textarea {
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 0.8em;
    width: 100%;
    outline: none;
    background: transparent;
    border: solid 1px #dfdfdf;
    /*transition: all 0.3s ease-in-out;*/
}

input {
    height: 2.5em;
    border-bottom: none;
    padding: 0 .5em;
}

textarea {
    height: 7.5em;
    padding: .5em;
}

input:hover, textarea:hover{
    color: #313131;
    background: #dfdfdf;
}

#send_button {
    color: #313131;
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 0.8em;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    background: #dfdfdf;
    width: 7em;
    height: 2.5em;
    padding: .4em 1em;
    margin-top: 0.25em;
    outline: none;
    cursor: pointer;
}

#send_button:hover {
    color: #313131;
    background: #949494;
}


/*--MEDIA-------------------------------------------------------------------------------------------------------*/


@media only screen and (max-width: 1370px) {

    .contents_wrapper, .header_wrapper {
        width: 90%;
    }

    #about, #projects, #clients {
        padding: 3em 0;
    }

    .pagination_wrapper {
        padding: .5em 0 2.5em;
    }
}


@media only screen and (max-width: 925px) {

    .skills_wrapper, .experiences_wrapper {
        width: 100%;
    }

    .skills_wrapper hr {
        display: block;
}


@media only screen and (max-width: 785px) {

    P {
        width: 85%;
        margin: 0 auto;
    }

    .col_half, .col_full {
        width: 100%;
        float: none;
        display: block;
        text-align: center;
    }

    .col_inner {
        float: none;
        display: block;
        text-align: center;
    }

    nav a{
        margin-right: 1.5em;
    }

    .gallery_image {
        height: calc(40vw + 25vh); 
    }

    .about_wrapper hr {
        width: 2em;
    }
    
    .skills_wrapper hr {
        width: 2em;
    }

    .pagination_wrapper {
        padding: .5em 0 1.5em;
    }

    .clients_logo {
        display: inline-block;
        width: 15%;
        min-width: 5em;
        float: none;
    }

    .clients_logo:hover {
        transform: none;
        transition: none;
    }

    form {
        max-width: 30em;
        margin: 0 auto;
    }

    #send_button {
        margin: 0.5em auto 1em;
    }

    .contact_icon_wrapper {
        position: relative;
        bottom: 0;
        margin: 3em auto 0;
        text-align: center;
    }
}

@media only screen and (max-width: 710px) {

    nav a{
        margin-right: 1em;
    }
}

@media only screen and (max-width: 650px) {

    h1 {
        font-size: 2.5em;
        line-height: 0.95em
    }

    .contents_wrapper {
        width: 95%
    } 

    header {
        height: 3em;
    }

    .header_wrapper {
        width: 95%;
        height: 3em;
        padding: .25em 0;
    }

    #logo {
        width: 8em;
    }
   
    #nav_top {
        padding: 2.4px 0;
        float: right;
    }

    nav {
        display: none;
    }
    label {
        display: block;
        float: right;
    }
/*
    #mobile_nav {
        display: block;
        float: right;
        border-bottom: none;
    }
*/
    nav a {
        display: block;
        border-bottom: none;

    }

    nav:hover a{
        display: block;
        border-bottom: none;

    }

    #toggle:checked + nav {
        display: block;
        float: right;
        text-align: right;
    }

    #gallery, #projects_page {
        margin: 0 auto;
    }

    .gallery_image {
        height: calc(45vw + 20vh); 
    }

}


@media only screen and (max-width: 500px) {

    .gallery_image {
        height: calc(50vw + 25vh); 
    }


/*--TEST-------------------------------------------------------------------------------------------------------*/



/*.nav_top_min_wrapper {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 2em;
    height: .25em;
    background-color: white;
    margin: .4em 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);*/