@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i');


* { margin: 0; padding: 0; box-sizing: border-box; }


/*--COLOR PALETTE-------------------------------------------------------------------------------------------------*/


/*
white= #ffffff;
bg-grey= #f8f8f8;
light-grey= #dfdfdf;
light-grey= #c6c6c6;
mid-grey= #949494;
dark-grey= #636363;
black= #313131;

red= rgb(255, 15, 0);
*/


/*--ASSET---------------------------------------------------------------------------------------------------------*/

body {
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 16px;
    color: #313131;
    line-height: 1.4em;
    text-decoration: none;
}

img {
    width: 100%;
    display: block;
}


h1, h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}


h1 {
    text-transform: none;
    font-size: 3.5em;
    line-height: 0.95em;
    padding-bottom: 0.5em;
/*    font-size: calc(3vw + 3vh);
    line-height: calc(3vw + 3vh);
    white-space: pre-line; */
}

h2 {
    font-size: 1.5em;
    padding: 0 0 .5em;
}

h3 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: .8em
}

strong {
    font-weight: 700;
}

hr {
    background-color: #949494;
    border: none;
    width: 84%;
    height: 1px;
    margin: 2.5em auto;
}

p + hr {
    width: 100%;
    margin: 1em auto;
}

nav {
    padding: .25em 0;
}

nav a{
    color: #dfdfdf;
    font-size: .8em;
    font-weight: 700;
    margin-right: 2em;
    text-transform: uppercase;
    text-decoration: none;
}

nav a:hover, nav a:active {
    color: #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
}

a, ul, li {
    text-decoration: none;
}

ul li{
    font-size: .8em;
}

li a {
    color: #313131;
    font-weight: 400;
    text-transform: none;
}

.text_align_right {
    text-align: right;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    clear: both;
    content: " ";
    font-size: 0;
    height: 0;
}


/*--WRAPPER-------------------------------------------------------------------------------------------------------*/



.contents_wrapper {
    position: relative;
    width: 85%;
    max-width: 1440px;
    margin: 0 auto;
}

.col_full {
    width: 99%;
    margin:.5%;
}

.col_half {
    float: left;
    width: 49%;
    margin: .5%;
    vertical-align: top;
    position: relative;
}

/*--HEADER-------------------------------------------------------------------------------------------------------*/


header {
    position: fixed;
    top: 0px;
    left: 0;
    z-index: 9999;
    background: white /*#313131*/ /*rgba(255, 255, 255, 1)*/;
    box-shadow:  2px 2px 4px rgba(49,49,49, .1);
    width: 100%;
    height: 4em;
    overflow: hidden;
    background-color: #313131;
}

.header_wrapper {
    width: 85%;
    max-width: 1440px;
    min-height: 4em;
    margin: 0 auto;
}


#logo {
    width: 165px;
    padding: 2px 0;
}

#top_nav {
    padding: 20.5px 0;
    margin-top: 0;
    margin-bottom: 0;
}


/*--MAIN-------------------------------------------------------------------------------------------------------*/


main {
    margin-top: 4em;
/*  position: absolute;
    position: relative;
    top: 5em;
    left: 0;*/
}

.gallery_wrapper {
    position: relative;
    width: 84%;
    max-width: 1440px;
    margin: 5em auto 0;
}

#gallery {
    background: url(../images/projects/GolfBuddy_2015-2016-Seasonal-Promotion_Flyers_1_new.jpg) no-repeat center center scroll;
    background-size: cover;
    height: 80vh;
}


.gallery_pagination {
    width: 99%;
    display: block;
    padding: .5em 0 2em;
}

.gallery_pagination_dot {
    float: left;
    display: block;
    cursor: pointer;
    outline: none;
    background: transparent;
    border: 1px solid #313131;
    border-radius: 50%;
    width: .75em;
    height: .75em;
    margin: .25em;
    transition: background 0.3s;
}

.gallery_pagination_dot_selected {
    background: #313131;
}

.skills_icon {
    display: inline;
    width: 2.5em;
    height: 2.5em;
    margin: 4px 4px 0 0;
}

#project {
}

.projects_cover_image {
    width: 100%
}

.projects_cover_overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(49, 49, 49, 0.8);
    opacity: 0;
}

.col_half:hover .projects_cover_overlay {
    opacity: 1;
}

.projects_overlay_text {
    position: absolute;
    color: #f8f8f8;
    text-align: center;
    border-bottom: 1px solid #f8f8f8;
    width: max-content;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.project_nav_button {
    background-color: #313131;
    color: white;
    float: right;
    padding: .4em .8em;
    margin: 4px 0 0 4px;
}

.project_nav_button:hover {
    background-color: #949494;
}

.clients_logo {
    display: inline-block;
    width: 7.97%;
}


/*--FOOTER-------------------------------------------------------------------------------------------------------*/


footer {
    background: #313131;
    color: #dfdfdf;
    margin-top: 5em;
    padding: 2em 0;
}

.footer_icon_wrapper {
    position: absolute;
    float: left;
    bottom: 0;
    margin-bottom: 0;
}

.footer_icon {
    display: inline;
    width: 1.875em;
    height: 1.875em;
}

.copyright {
    display: block;
    font-size: 10px;
    color: #949494;
}

form {
    display: block;
    width: 100%;
    margin: 0 auto;
}

input, textarea {
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 0.8em;
    color: #dfdfdf;
    width: 100%;
    outline: none;
    background: transparent;
    border: solid 1px #dfdfdf;
    /*transition: all 0.3s ease-in-out;*/
}

input {
    height: 3em;
    border-bottom: none;
    padding: 0 .5em;
}

textarea {
    height: 9em;
    padding: .5em;
}

#send_button {
    display: block;
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 0.8em;
    font-weight: 700;
    text-transform: uppercase;
    color: #dfdfdf;
    outline: none;
    border: solid 1px #dfdfdf;
    cursor: pointer;
    width: max-content;
    padding: .4em 1em;
    margin-top: 4px;
}

input:hover, textarea:hover{
    color: #313131;
    background: #dfdfdf;

}

#send_button:hover {
    color: #313131;
    background: #dfdfdf;
}


/*--TEST-------------------------------------------------------------------------------------------------------*/



/*figure:first-child {
    margin-top:3em;
}*/


