@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

* { margin: 0; padding: 0; box-sizing: border-box; }

/*
color palette
black= #323232;
mid-grey= #787878;
light-grey= efefef;
red= rgb(255, 15, 0);
*/

body {
    background: #ffffff;
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 16px;
    color: #323232;
    text-align: center;
    letter-spacing: 1px;
    line-height: 1.4em;
    text-decoration: none;
}

section {
    padding: 4em 0;
    background: #FFE2B8; /*unit5 temp color*/ 
    border: solid blue 2px; /*unit5 temp color*/ 
}

div {
    background: #FFE2B8; /*unit5 temp color*/ 
    border: solid blue 1px; /*unit5 temp color*/ 
}

.section_wrapper {
    width: 50em;
    display: inline-block;
}

article {
    background: #E89C6C; /*unit5 temp color*/ 
}

h1, h2, h3, h4 {
    font-weight: 700;
    text-transform: uppercase;
    padding: 8px 0;
}

h1 {
    font-size: calc(3vw + 3vh);
    line-height: calc(3vw + 3vh);
    white-space: pre-line;
}

h2, h3 {
    font-size: 1.5em;
}

h3 {
    text-transform: none;
}

h4 {
    color: rgb(255, 15, 0);
}

p {
    font-weight: 400;
    display: inline-block;
    max-width: 50em;
    padding: 8px 0;
}   

.font_weight_700 {
    font-weight: 700;
}

.line_break:before {
    content: "\a ";
    white-space: pre;
}

hr{
    background-color: rgb(255, 15, 0);
    border: none;
    height: 2px;
    width: 2em;
    margin: 1em auto;
}

a{
    text-decoration: none;
}

a:hover {
    color: #323232;
}

a:active {
    color: #787878;
}

nav {
    background: #E8C66A; /*unit5 temp color*/ 
    font-weight: 700;
    font-size: .8em;
    text-transform: uppercase;
    position: absolute;
    right: 1em;
    top: 50%;
    transform: translateY(-50%);
}

nav a {
    color: rgb(255, 15, 0);
    padding-right: 1em;
    padding-left: 1em;
}

ul {
    margin: 1em 0;
}

header {
    background: #ffed74; /*unit5 temp color*/ 
    /*background: rgba(255, 255, 255, .8);*/
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .1);
    position: fixed;
    z-index: 1;
    top: 0px;
    width: 100%;
    min-height: 3em;
}

#logo {
    float: left;
    margin: .25em 0;
    max-height: 2.5em;
}

#cover {
    margin-top: 3em;
    background: url(../images/cover_1920x500.jpg) no-repeat center center scroll;
    background-size: cover;
    height: 65vh;
}

.cover_text {
    position: relative;
    display: inline-block;
    top: 50%;
    transform: translateY(-50%);
    max-width: 50em;
    padding: 1em;
}

.cover_button {
    display: block;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    background: rgb(255, 15, 0);
    padding: .25em 1.5em;
    border-radius: 3px;
    width: max-content;
    margin: 8px auto;
}

#skills {
    background: #efefef;
}

.skills_icon{
    width: 3em;
    height: 3em;
    padding: 0 4px;
}

.projects_category {
    display: inline;
    background: #efefef;
    border-radius: 3px;
    width: max-content;
    padding: .25em 0.75em;
    margin: .25em;
    line-height: 2.5em;
    font-size: .75em;
    text-transform: uppercase;
}

.projcts_covers {
    max-width: 396px;
}

.projects_info {
    margin: 0 0 1.5em;
}

.projects_description {
    font-size: .8em;
    display: inline;
}

.projcts_image {
    max-width: 50em;
    display: inline;
}

#clients {
    background: #efefef;
}

.clients_logo {
    width: 125px;
    margin: 8px auto;
}

footer {
    background: #FF957E; /*unit5 temp color*/ 
    /*background: #323232;*/
    padding-bottom: .5em;
}

#contact {
    color: #efefef;;
}

.form {
}

.footer_icon {
    margin-top: 1em;
    width: 2em;
    height: 2em;
}

.copyright {
    font-size: 10px;
    color: #787878;
    display: block;
}

